---
Checks:
  - "*"
  - "-abseil-*"
  - "-altera-*"
  - "-android-*"
  - "-darwin-*"
  - "-fuchsia-*"
  - "-google-*"
  - "-linuxkernel-*"
  - "-llvm-*"
  - "-llvmlibc-*"
  - "-mpi-*"
  - "-objc-*"
  - "-openmp-*"
  - "-zircon-*"
  - "-modernize-use-trailing-return-type"
  - "-modernize-avoid-c-arrays"
  - "-hicpp-avoid-c-arrays"
